@charset "utf-8";
/* CSS Document */
.TopBarElement{
	float: left;
	margin: 10px;
	display: inline-block;
	height: 150px;
	
}

.mainSection{
	display: inline-block;
	margin: 5px;
	float: left;
}

#share_my_location{
	/*position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;*/
	
	
  position: absolute;
  top: 550px;
  left: 1050px;
  width: 10%;
  height: 10%;
  z-index: 10;
  background-color: #00B2FF; /*dim the background*/
	}
#background
{
  /*background: linear-gradient(#d6d6d6, #61644f);*/
  width:1000px;
  height:670px;
  background:#C7EDC7;
  box-shadow: 7px 7px 7px #888888;
  margin-left: auto ;
  margin-right: auto ;
}

#HomeIconSection{
	/**background:red;**/
	}
	
#HomeIcon{
width:120px; 
height:123px;
margin-left:10px;
position: absolute;
}



	
#TitleBar{
  text-align: center;
  vertical-align: middle;
  line-height: 120px;  
  /**background:red;**/
  width:800px
}


#SideBar{
	/**background:red;**/
    background:#C7EDC7;
	}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 170px;
    background-color: #C7EDC7;
}

li a {
    /**
    display: block;
    color: #000;
    padding: 8px 8px;
    height:60px;
    text-align: center;
    font-size:20px;
    text-decoration: none;
    border-style: inset;**/
	
	margin-bottom:10px;
	margin-bottom:10px;
    display: block;
    color: #000;
    padding: 8px 8px;
    height:60px;
    text-align: center;
    font-size:20px;
    text-decoration: none;
    border-style: inset;
	line-height: 55px;
	
}

li a:hover {
    background-color: #555;
    color: white;
}